
/* mobile only styles */
@media only screen and (max-width: 550px) {
    * {
        font-size: 3vmax;
    }

    #main-grid-container {
        grid-template-columns: min-content 1fr 0px;
    }

    #displayModeButton {
        aspect-ratio: unset;
    }
}
