
.stripes {
    background-image: linear-gradient(45deg, 
        transparent 25%,
        var(--color-text-main) 25%,
        var(--color-text-main) 50%,
        transparent 50%,
        transparent 75%,
        var(--color-text-main) 75%,
        var(--color-text-main) 100%);
        background-size: 84.85px 84.85px;
}

.main-grid-item {
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--color-background-main);
}

.header-button {
    align-self: center;
    min-height: 50%;
    margin-inline-end: 30px;
    color: var(--color-text-secondary);
}

.bubble {
    position: absolute;
    filter: blur(110px);
}

