

.circle {
    aspect-ratio: 1;
    border-radius: 100%;
}

.highlighted-pink {
    color: var(--color-background-main);
    background-color: var(--color-accent-main);
}

.tight-container {
    display: flex;
}
.wide-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.horizontal {
    flex-direction: row;
}
.vertical {
    flex-direction: column;
}

.flex-gap {
    gap: 5%;
}

.vertical-text {
    transform: rotateZ(180deg);
    writing-mode: vertical-rl;
}

.margin-block {
    margin-block: var(--std-margin);
}
.margin-bottom {
    margin-block-end: var(--std-margin);
}
