
:root {
	--color-text-positive: black;
	--color-text-negative: white;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}


body {
	margin: 0;
}

code {
	font-family: 'Courier New', Courier, monospace;
	padding: 7px;
	border-radius: 7px;
	background-color: rgba(48, 48, 48, 0.75);
}

p {
	margin: 0;
}

.view-animation {
	animation-timeline: view() !important;
}

.scroll-animation {
	animation-timeline: scroll() !important;
}

#progress-bar {
	position: fixed;
	height: 1vh;
	width: 0;
	background-color: red;
	border-radius: 999px 999px 999px 0px;
	animation: progress-bar;
	&:extend(.scroll-animation);
}
