.stack-top {
  z-index: 999;
}
.border-radius {
  border-radius: var(--material-border-radius1);
}
.tight-container {
  display: flex;
}
.wide-container {
  display: flex;
  justify-content: space-between;
}
.vstack {
  display: flex;
  flex-direction: column;
}
.hstack {
  display: flex;
  flex-direction: row;
}
