
:root {}

.lightmode {
    --color-background-main: rgba(239, 235, 228, 0.699);
    --color-text-main: rgb(46, 38, 38);
    --color-accent-main: rgba(134, 22, 121, 0.6);
}
.darkmode {
    --color-background-main: rgba(60, 59, 57, 0.699);
    --color-text-main: rgb(221, 235, 242);
    --color-accent-main: rgba(134, 22, 121, 0.6);
}


* {
    user-select: none;
    transition: all .1s ease;
    color: var(--color-text-main);
    font-family: menlo, 'Courier New', Courier, monospace;
    font-family: chatime;
    font-size: large;
    font-weight: 600;
}

body {
    margin: 0;
    background-color: black;
    position: relative;
}

h1, h2, h3, h4, h5 { margin: 0; }
h1 {
    font-family: qeilab;
    font-size: 10vh;
    text-transform: uppercase;
    margin-inline: 4%;
}

button {
    margin: 30px;

    border: 2px rgb(62, 62, 62) solid;
    border-radius: 20px;

    background-color: var(--color-background-main);

    cursor: pointer;
}
button:hover {
    font-size: larger;
    margin: 25px;
}
button:active {
    font-size: large;
    filter: brightness(110%);
    margin: 28px;
}

.highlighted-pink {
    color: var(--color-background-main);
    background-color: var(--color-accent-main);
}

#bubbles-container {
    min-width: 100dvw;
    min-height: 100dvh;

    position: absolute;

    background-color: rgb(0, 0, 30);
}

#main-grid-container {
    display: none;
    min-width: fit-content;
    width: 100dvw;
    height: 100dvh;

    position: absolute;
    display: grid;

    grid-template-columns: 170px auto 150px;
    grid-template-rows: 15dvh 37.5dvh 37.5dvh 10dvh;
    gap: 1px;
}
.main-grid-item {
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--color-background-main);
}
#header {
    grid-row: 1;
    grid-column: 1 / 3;
}
#deco1 {
    grid-row: 1 / span 2;
    grid-column: 3;
}
#content {
    grid-area: 2 / 2 / span 2 / span 1;
}
#deco2 {
    grid-row: 2 / span 2;
    grid-column: 1;
}
#deco3 {
    grid-row: 3 / 5;
    grid-column: 3;
}
#footer {
    grid-row: 4;
    grid-column: 1 / 3;
}

#displayModeController {
    aspect-ratio: 1;
}

.circle {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 100%;
}

.bubble {
    filter: blur(110px);
}

.stripes {
    background-image: linear-gradient(45deg, 
        transparent 25%,
        var(--color-text-main) 25%,
        var(--color-text-main) 50%,
        transparent 50%,
        transparent 75%,
        var(--color-text-main) 75%,
        var(--color-text-main) 100%);
        background-size: 84.85px 84.85px;
}
