:root {
  --darken: rgba(0, 0, 0, 0.03);
}
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 50px;
}
h1,
h2,
h3,
h4,
h5 {
  margin-block: 0;
}
section {
  padding: 10px;
}
form,
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 20px;
  margin-inline: auto;
  max-width: 60%;
}
.form-group {
  display: inherit;
  flex-direction: inherit;
}
.form-group.horizontal {
  flex-direction: row;
  gap: 10px;
}
form button[type="submit"],
.form button[type="submit"] {
  align-self: center;
}
input[type="number"] {
  max-width: 20%;
}
code {
  background-color: var(--darken);
}
#top {
  grid-row: 1;
  grid-column: 1 / span 2;
}
#translator {
  grid-row: 2;
  grid-column: 1;
  background-color: var(--darken);
  border-radius: 0 30px 0 0;
}
#demo {
  grid-row: 2;
  grid-column: 2;
}
